@using Final_Project.Models;
@{
    ViewData["Title"] = "Profile - Gametronica";
}
@model AppUser
<div class="box">
    <div class="box-left">
        <div class="site-name">
            <h1>@Model.UserName</h1>
        </div>
        <img src="~/assets/images/@Model.ImageUrl" alt="">
        <div class="links">
            <a href="" id="home"><p class="p-home active"><i class="fa-solid fa-house"></i> Home</p></a>
            <a href="" id="wishlist"><p class="p-wishlist"><i class="fa-solid fa-heart"></i> Wishlist</p></a>
            <a href="" id="messages"><p class="p-messages"><i class="fa-solid fa-message"></i> Messages</p></a>
            <a href="" id="security"><p class="p-security"><i class="fa-solid fa-lock"></i> Security</p></a>
            <a href="" id="basket"><p class="p-basket"><i class="fa-solid fa-basket-shopping"></i> Basket</p></a>
            <a href="" id="sale"><p class="p-sale"><i class="fa-solid fa-dollar-sign"></i> Sale</p></a>
        </div>
        <a asp-action="index" asp-controller="home"><i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
    <div class="box-right">
        <div class="home">
            <div class="header">
                <h1>Home</h1>
            </div>
            <div class="personal-data">
                <img src="~/assets/images/@Model.ImageUrl" alt="">
                <div class="personal-name">
                    <h1>@Model.FullName</h1>
                    <p class="role">@Model.UserName</p>
                    <span>@Model.Country</span>
                </div>
            </div>
            <hr>
            <div class="phone-email">
                <div class="phone">
                    <i class="fa-solid fa-phone"></i><p>Phone: (+994)@Model.PhoneNumber </p>
                </div>
                <div class="email">
                    <i class="fa-solid fa-at"></i><p>Email: @Model.Email</p>
                </div>
            </div>
        </div>
        <div class="d-none wishlist">
            <div class="header">
                <h1>Wishlist</h1>
            </div>
            <div class="wishlist-products">
                <div class="wishlist-product">
                    <div class="wshlist-product-image">
                        <img class="mainImage" src="./assets/images/Nintendo Switch - OLED Model White set.jpg" alt="">
                        <img class="discounImage" src="/assets/images/discount.png" alt="">
                        <span>-20%</span>
                    </div>
                    <div class="links">
                        <form>
                            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                        </form>
                        <form>
                            <a href=""><i class="fa-solid fa-heart"></i></a>
                        </form>
                        <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                    <div class="product-details">
                        <div class="name">
                            <p>Nintendo Switch - OLED Model White set</p>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur sit amet consectetur adipisicing elit. Voluptatem, hic!...</p>
                        </div>
                        <div class="price">
                            <p class="oldprice">$100.00</p>
                            <p class="newprice">$80.00</p>
                        </div>
                    </div>
                </div>
                <div class="wishlist-product">
                    <div class="wshlist-product-image">
                        <img class="mainImage" src="./assets/images/Acer Nitro 5 AN515-58-57Y8 Gaming Laptop.jpg" alt="">
                        <img class="discounImage" src="/assets/images/discount.png" alt="">
                        <span>-20%</span>
                    </div>
                    <div class="links">
                        <form>
                            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                        </form>
                        <form>
                            <a href=""><i class="fa-solid fa-heart"></i></a>
                        </form>
                        <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                    <div class="product-details">
                        <div class="name">
                            <p>Acer Nitro 5 AN515-58-57Y8 Gaming Laptop</p>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur sit amet consectetur adipisicing elit. Voluptatem, hic!...</p>
                        </div>
                        <div class="price">
                            <p class="oldprice">$100.00</p>
                            <p class="newprice">$80.00</p>
                        </div>
                    </div>
                </div>
                <div class="wishlist-product">
                    <div class="wshlist-product-image">
                        <img class="mainImage" src="./assets/images/BestOffice High-Back Gaming Chair.jpg" alt="">
                        <img class="discounImage" src="/assets/images/discount.png" alt="">
                        <span>-20%</span>
                    </div>
                    <div class="links">
                        <form>
                            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                        </form>
                        <form>
                            <a href=""><i class="fa-solid fa-heart"></i></a>
                        </form>
                        <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                    <div class="product-details">
                        <div class="name">
                            <p>BestOffice High-Back Gaming Chair</p>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur sit amet consectetur adipisicing elit. Voluptatem, hic!...</p>
                        </div>
                        <div class="price">
                            <p class="oldprice">$100.00</p>
                            <p class="newprice">$80.00</p>
                        </div>
                    </div>
                </div>
                <div class="wishlist-product">
                    <div class="wshlist-product-image">
                        <img class="mainImage" src="./assets/images/Corsair HS65 SURROUND Gaming Headset.jpg" alt="">
                        <img class="discounImage" src="/assets/images/discount.png" alt="">
                        <span>-20%</span>
                    </div>
                    <div class="links">
                        <form>
                            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                        </form>
                        <form>
                            <a href=""><i class="fa-solid fa-heart"></i></a>
                        </form>
                        <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                    <div class="product-details">
                        <div class="name">
                            <p>Corsair HS65 SURROUND Gaming Headset</p>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur sit amet consectetur adipisicing elit. Voluptatem, hic!...</p>
                        </div>
                        <div class="price">
                            <p class="oldprice">$100.00</p>
                            <p class="newprice">$80.00</p>
                        </div>
                    </div>
                </div>
                <div class="wishlist-product">
                    <div class="wshlist-product-image">
                        <img class="mainImage" src="./assets/images/Head Strap Compatible with Oculus Quest 2.jpg" alt="">
                        <img class="discounImage" src="/assets/images/discount.png" alt="">
                        <span>-20%</span>
                    </div>
                    <div class="links">
                        <form>
                            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                        </form>
                        <form>
                            <a href=""><i class="fa-solid fa-heart"></i></a>
                        </form>
                        <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                    <div class="product-details">
                        <div class="name">
                            <p>Head Strap Compatible with Oculus Quest 2</p>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur sit amet consectetur adipisicing elit. Voluptatem, hic!...</p>
                        </div>
                        <div class="price">
                            <p class="oldprice">$100.00</p>
                            <p class="newprice">$80.00</p>
                        </div>
                    </div>
                </div>
                <div class="wishlist-product">
                    <div class="wshlist-product-image">
                        <img class="mainImage" src="./assets/images/Nintendo Switch - OLED Model White set.jpg" alt="">
                        <img class="discounImage" src="/assets/images/discount.png" alt="">
                        <span>-20%</span>
                    </div>
                    <div class="links">
                        <form>
                            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                        </form>
                        <form>
                            <a href=""><i class="fa-solid fa-heart"></i></a>
                        </form>
                        <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                    <div class="product-details">
                        <div class="name">
                            <p>Nintendo Switch - OLED Model White set</p>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur sit amet consectetur adipisicing elit. Voluptatem, hic!...</p>
                        </div>
                        <div class="price">
                            <p class="oldprice">$100.00</p>
                            <p class="newprice">$80.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="scrollableDiv" class="d-none messages">
            <div class="header">
                <h1>Messages</h1>
            </div>
            <div class="message-section-header">
                <span class="offline"></span>
                <img src="./assets/images/user-profile.jpg" alt="">
                <h1>Admin</h1>
                <p class="typing">Typing...</p>
            </div>
            <div class="mesage-section-body">
                <ul>
                    <li class="send">Salam, necesen?</li>
                    <li class="receive">Salam yaxsiyam, sen necesen?</li>
                    <li class="send">Yaxsiyam sag ol, yaxsi olasan</li>
                    <li class="send">Senden bir soz sorusum</li>
                    <li class="receive">Buyur</li>
                    <li class="send">Salam1</li>
                    <li class="receive">Salam1</li>
                    <li class="send">Salam1</li>
                    <li class="receive">Salam yaxsiyam, sen necesen?</li>
                    <li class="send">Yaxsiyam sag ol, yaxsi olasan</li>
                    <li class="send">Senden bir soz sorusum</li>
                    <li class="receive">Buyur</li>
                    <li class="send">Salam1</li>
                    <li class="receive">Salam1</li>
                    <li class="send">Salam1</li>
                    <li class="send">Salam, necesen?</li>
                    <li class="receive">Salam yaxsiyam, sen necesen?</li>
                    <li class="send">Yaxsiyam sag ol, yaxsi olasan</li>
                    <li class="send">Senden bir soz sorusum</li>
                    <li class="receive">Buyur</li>
                    <li class="send">Salam1</li>
                    <li class="receive">Salam1</li>
                    <li class="send">Salam1</li>
                    <li class="receive">Salam yaxsiyam, sen necesen?</li>
                    <li class="send">Yaxsiyam sag ol, yaxsi olasan</li>
                    <li class="send">Senden bir soz sorusum</li>
                    <li class="receive">Buyur</li>
                    <li class="send">Salam1</li>
                    <li class="receive">Salam1</li>
                    <li class="send">Salam1</li>
                </ul>
                <form action="">
                    <input type="text" placeholder="Send Mesage...">
                    <label for="camera"><i class="fa-solid fa-link"></i></i></label>
                    <input type="file" id="camera" hidden>
                    <label for="camera"><i class="fa-solid fa-camera"></i></label>
                    <input type="file" id="camera" hidden>
                    <label for="camera"><i class="fa-solid fa-microphone"></i></label>
                    <input type="file" id="camera" hidden>
                    <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
        <div class="d-none security">
            <div class="header">
                <h1>Security</h1>
            </div>
            <div class="security-body">
                <form asp-action="ChangeData" enctype="multipart/form-data">
                    <label for="ImageUrl"><p class="edit"><i class="fa-regular fa-pen-to-square"></i> Edit profile picture</p></label>
                    <input asp-for="ImageUrl">
                    <div class="input">
                        <label for="Fullname">Fullname</label>
                        <input asp-for="FullName" value="@Model.FullName">
                    </div>
                    <div class="input">
                        <label for="Username">Username</label>
                        <input asp-for="UserName" value="@Model.UserName">
                    </div>
                    <div class="input">
                        <label for="Phone">Phone</label>
                        <input asp-for="PhoneNumber" value="@Model.PhoneNumber">
                    </div>
                    <div class="input">
                        <label for="Country">Country</label>
                        <input asp-for="Country" value="@Model.Country">
                    </div>
                    <a href="" class="passChange">Change Password</a>
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
        <div class="d-none basket">
            <div class="header">
                <h1>Basket</h1>
            </div>
            <div class="basket-products">
                <div class="basket-product">
                    <div class="basket-product-image">
                        <img class="mainImage" src="./assets/images/Nintendo Switch - OLED Model White set.jpg" alt="">
                        <img class="discounImage" src="/assets/images/discount.png" alt="">
                        <span>-20%</span>
                    </div>
                    <div class="links">
                        <form>
                            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                        </form>
                        <form>
                            <a href=""><i class="fa-solid fa-heart"></i></a>
                        </form>
                        <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                    <div class="product-details">
                        <div class="name">
                            <p>Nintendo Switch - OLED Model White set</p>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur sit amet consectetur adipisicing elit. Voluptatem, hic!...</p>
                        </div>
                        <div class="price">
                            <p class="oldprice">$100.00</p>
                            <p class="newprice">$80.00</p>
                        </div>
                    </div>
                </div>
                <div class="basket-product">
                    <div class="basket-product-image">
                        <img class="mainImage" src="./assets/images/Acer Nitro 5 AN515-58-57Y8 Gaming Laptop.jpg" alt="">
                        <img class="discounImage" src="/assets/images/discount.png" alt="">
                        <span>-20%</span>
                    </div>
                    <div class="links">
                        <form>
                            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                        </form>
                        <form>
                            <a href=""><i class="fa-solid fa-heart"></i></a>
                        </form>
                        <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                    <div class="product-details">
                        <div class="name">
                            <p>Acer Nitro 5 AN515-58-57Y8 Gaming Laptop</p>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur sit amet consectetur adipisicing elit. Voluptatem, hic!...</p>
                        </div>
                        <div class="price">
                            <p class="oldprice">$100.00</p>
                            <p class="newprice">$80.00</p>
                        </div>
                    </div>
                </div>
                <div class="basket-product">
                    <div class="basket-product-image">
                        <img class="mainImage" src="./assets/images/BestOffice High-Back Gaming Chair.jpg" alt="">
                        <img class="discounImage" src="/assets/images/discount.png" alt="">
                        <span>-20%</span>
                    </div>
                    <div class="links">
                        <form>
                            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                        </form>
                        <form>
                            <a href=""><i class="fa-solid fa-heart"></i></a>
                        </form>
                        <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                    <div class="product-details">
                        <div class="name">
                            <p>BestOffice High-Back Gaming Chair</p>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur sit amet consectetur adipisicing elit. Voluptatem, hic!...</p>
                        </div>
                        <div class="price">
                            <p class="oldprice">$100.00</p>
                            <p class="newprice">$80.00</p>
                        </div>
                    </div>
                </div>
                <div class="basket-product">
                    <div class="basket-product-image">
                        <img class="mainImage" src="./assets/images/Corsair HS65 SURROUND Gaming Headset.jpg" alt="">
                        <img class="discounImage" src="/assets/images/discount.png" alt="">
                        <span>-20%</span>
                    </div>
                    <div class="links">
                        <form>
                            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                        </form>
                        <form>
                            <a href=""><i class="fa-solid fa-heart"></i></a>
                        </form>
                        <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                    <div class="product-details">
                        <div class="name">
                            <p>Corsair HS65 SURROUND Gaming Headset</p>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur sit amet consectetur adipisicing elit. Voluptatem, hic!...</p>
                        </div>
                        <div class="price">
                            <p class="oldprice">$100.00</p>
                            <p class="newprice">$80.00</p>
                        </div>
                    </div>
                </div>
                <div class="basket-product">
                    <div class="basket-product-image">
                        <img class="mainImage" src="./assets/images/Head Strap Compatible with Oculus Quest 2.jpg" alt="">
                        <img class="discounImage" src="/assets/images/discount.png" alt="">
                        <span>-20%</span>
                    </div>
                    <div class="links">
                        <form>
                            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                        </form>
                        <form>
                            <a href=""><i class="fa-solid fa-heart"></i></a>
                        </form>
                        <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                    <div class="product-details">
                        <div class="name">
                            <p>Head Strap Compatible with Oculus Quest 2</p>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur sit amet consectetur adipisicing elit. Voluptatem, hic!...</p>
                        </div>
                        <div class="price">
                            <p class="oldprice">$100.00</p>
                            <p class="newprice">$80.00</p>
                        </div>
                    </div>
                </div>
                <div class="basket-product">
                    <div class="basket-product-image">
                        <img class="mainImage" src="./assets/images/Nintendo Switch - OLED Model White set.jpg" alt="">
                        <img class="discounImage" src="/assets/images/discount.png" alt="">
                        <span>-20%</span>
                    </div>
                    <div class="links">
                        <form>
                            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                        </form>
                        <form>
                            <a href=""><i class="fa-solid fa-heart"></i></a>
                        </form>
                        <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                    <div class="product-details">
                        <div class="name">
                            <p>Nintendo Switch - OLED Model White set</p>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur sit amet consectetur adipisicing elit. Voluptatem, hic!...</p>
                        </div>
                        <div class="price">
                            <p class="oldprice">$100.00</p>
                            <p class="newprice">$80.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none sale">
            <div class="header">
                <h1>Sale</h1>
            </div>
            <a href="">
                <div class="export">
                    <i class="fa-solid fa-download"></i> Export
                </div>
            </a>
            <table>
                <thead>
                <th class="open">#</th>
                <th class="close">Product List</th>
                <th class="open">Total</th>
                <th class="close">Date</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="open">1</td>
                        <td class="close">
                            <ul>
                                <li>1.Nintendo Switch - OLED Model White set</li>
                            </ul>
                        </td>
                        <td class="open">$270.00</td>
                        <td class="close">15 May 2023</td>
                    </tr>
                    <tr>
                        <td class="open">1</td>
                        <td class="close">
                            <ul>
                                <li>1.Nintendo Switch - OLED Model White set</li>
                                <li>2.Nintendo Switch - OLED Model White set</li>
                            </ul>
                        </td>
                        <td class="open">$270.00</td>
                        <td class="close">15 May 2023</td>
                    </tr>
                    <tr>
                        <td class="open">1</td>
                        <td class="close">
                            <ul>
                                <li>1.Nintendo Switch - OLED Model White set</li>
                                <li>2.Nintendo Switch - OLED Model White set</li>
                                <li>3.Nintendo Switch - OLED Model White set</li>
                            </ul>
                        </td>
                        <td class="open">$270.00</td>
                        <td class="close">15 May 2023</td>
                    </tr>
                    <tr>
                        <td class="open">1</td>
                        <td class="close">
                            <ul>
                                <li>1.Nintendo Switch - OLED Model White set</li>
                                <li>2.Nintendo Switch - OLED Model White set</li>
                                <li>3.Nintendo Switch - OLED Model White set</li>
                                <li>4.Nintendo Switch - OLED Model White set</li>
                            </ul>
                        </td>
                        <td class="open">$270.00</td>
                        <td class="close">15 May 2023</td>
                    </tr>
                    <tr>
                        <td class="open">1</td>
                        <td class="close">
                            <ul>
                                <li>1.Nintendo Switch - OLED Model White set</li>
                                <li>2.Nintendo Switch - OLED Model White set</li>
                                <li>3.Nintendo Switch - OLED Model White set</li>
                            </ul>
                        </td>
                        <td class="open">$270.00</td>
                        <td class="close">15 May 2023</td>
                    </tr>
                    <tr>
                        <td class="open">1</td>
                        <td class="close">
                            <ul>
                                <li>1.Nintendo Switch - OLED Model White set</li>
                                <li>2.Nintendo Switch - OLED Model White set</li>
                                <li>3.Nintendo Switch - OLED Model White set</li>
                            </ul>
                        </td>
                        <td class="open">$270.00</td>
                        <td class="close">15 May 2023</td>
                    </tr>
                    <tr>
                        <td class="open">1</td>
                        <td class="close">
                            <ul>
                                <li>1.Nintendo Switch - OLED Model White set</li>
                                <li>2.Nintendo Switch - OLED Model White set</li>
                                <li>3.Nintendo Switch - OLED Model White set</li>
                            </ul>
                        </td>
                        <td class="open">$270.00</td>
                        <td class="close">15 May 2023</td>
                    </tr>
                    <tr>
                        <td class="open">1</td>
                        <td class="close">
                            <ul>
                                <li>1.Nintendo Switch - OLED Model White set</li>
                                <li>2.Nintendo Switch - OLED Model White set</li>
                                <li>3.Nintendo Switch - OLED Model White set</li>
                            </ul>
                        </td>
                        <td class="open">$270.00</td>
                        <td class="close">15 May 2023</td>
                    </tr>
                    <tr>
                        <td class="open">1</td>
                        <td class="close">
                            <ul>
                                <li>1.Nintendo Switch - OLED Model White set</li>
                                <li>2.Nintendo Switch - OLED Model White set</li>
                                <li>3.Nintendo Switch - OLED Model White set</li>
                            </ul>
                        </td>
                        <td class="open">$270.00</td>
                        <td class="close">15 May 2023</td>
                    </tr>
                    <tr>
                        <td class="open">1</td>
                        <td class="close">
                            <ul>
                                <li>1.Nintendo Switch - OLED Model White set</li>
                                <li>2.Nintendo Switch - OLED Model White set</li>
                                <li>3.Nintendo Switch - OLED Model White set</li>
                            </ul>
                        </td>
                        <td class="open">$270.00</td>
                        <td class="close">15 May 2023</td>
                    </tr>
                    <tr>
                        <td class="open">1</td>
                        <td class="close">
                            <ul>
                                <li>1.Nintendo Switch - OLED Model White set</li>
                                <li>2.Nintendo Switch - OLED Model White set</li>
                                <li>3.Nintendo Switch - OLED Model White set</li>
                            </ul>
                        </td>
                        <td class="open">$270.00</td>
                        <td class="close">15 May 2023</td>
                    </tr>
                    <tr>
                        <td class="open">1</td>
                        <td class="close">
                            <ul>
                                <li>1.Nintendo Switch - OLED Model White set</li>
                                <li>2.Nintendo Switch - OLED Model White set</li>
                                <li>3.Nintendo Switch - OLED Model White set</li>
                            </ul>
                        </td>
                        <td class="open">$270.00</td>
                        <td class="close">15 May 2023</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>